base-font = Lato, sans-serif

html {
	font-size: 16px
}

h1 {
	font-family: base-font
	font-size: 3rem
	font-weight: 800
	color: coral
	background: lightgray
	border-radius: 0.5rem
	padding: 0.5rem 1rem 
}

body {
	margin: 2em
}
